@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.amount {
    font-family: 'Montserrat', sans-serif;
    margin-left: -45px;
    display: flex;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.co-btn {
    width: 277px;
    height: 30px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 12px;
    color: aliceblue;
    cursor: pointer;
}

.co-btn:hover {
    opacity: 0.7;
}

.co-btn:active {
    box-shadow: 2px rgb(44, 43, 43);
    transform: translateY(2px);
}

.vpn {
    margin-top: 10px;
}

.vpn2 {
    margin-top: -16px;
}

.left-amount {
    margin-top: 68px;
    margin-left: -83px;
    font-size: 12px;
}

.text {
    font-size: 12px;
}

.code-discount {
    width: 700px;
}